<section>
    <div class="hero-content">
        <div class="image">
            <img src="assets/me.jpg" alt="Ja">
        </div>
        <div class="hero-text">
            <h1>About Me</h1>

            <p>I am a Bachelor of Computer Science with the ability 
                to think logically and creativity in solving problems. 
                While working on tasks, I like to listen to music because
                it stimulates my creativity and motivation. 
                I approach my tasks responsibly and try to complete them 
                as soon as possible. I also like to learn about new technologies 
                and stay up to date with the times.
            </p>
        </div>      
    </div> 
</section>