<nav class="navbar">
  <div class="navbar-inner">

    <button class="menu-btn" type="button" (click)="toggleMenu()" aria-label="Open menu">
      ☰
    </button>

    <ul class="nav-links" [class.open]="isMenuOpen">
      <li><a (click)="scrollToSection('home'); closeMenu()" style="cursor:pointer">Home</a></li>
      <li><a (click)="scrollToSection('about'); closeMenu()" style="cursor:pointer">About</a></li>
      <li><a (click)="scrollToSection('projects'); closeMenu()" style="cursor:pointer">Projects</a></li>
      <li><a (click)="scrollToSection('contact'); closeMenu()" style="cursor:pointer">Contact</a></li>

      <!--
      <li class="lang-mobile">
        <button type="button" (click)="setLang('en')" [class.active]="lang==='en'">EN</button>
        <p>|</p>
        <button type="button" (click)="setLang('bs')" [class.active]="lang==='bs'">BS</button>
      </li>
      !-->
    </ul>

  </div>
</nav>