<section class="hero">
    <div class="hero-content">
        <div class="hero-text">
            <h1>Dželil Buraić</h1>
            <p>
                I am Dželil Buraić, a Bachelor of Computer Science.
                Currently, I am engaged in web development(.NET,Angular, MSSQL,)
            </p>

            <div class="hero-buttons">
                <button class="primary">View My Work</button>
                <button class="secondary">Download CV</button>
            </div>
        </div>
    </div>
</section>
<app-about></app-about>
<app-skills></app-skills>
<app-experience></app-experience>
<app-projects></app-projects>
<app-contact></app-contact>
