<section class="hero">
  <div class="hero-container">
    <h1>SELECTED PROJECTS</h1>

    <div class="project-row" appHoverRow>
      <div class="number">_01.</div>

      <div class="project-meta">
        <div class="project-name" data-text="UserManagement">UserManagement</div>

        <div class="stack">
          <span>Angular</span><span class="dot"></span>
          <span>.NET</span><span class="dot"></span>
          <span>SSMS</span>
        </div>
      </div>
        <span class="line"></span>
    </div>
    
    <div class="project-row" appHoverRow>
      <div class="number">_02.</div>

      <div class="project-meta">
        <div class="project-name" data-text="PropertyManagement3">PropertyManagement3</div>

        <div class="stack">
          <span>Angular</span><span class="dot"></span>
          <span>.NET</span><span class="dot"></span>
          <span>SSMS</span><span class="dot"></span>
          <span>Azure</span>
        </div>
      </div>
        <span class="line"></span>
    </div>

    <div class="project-row" appHoverRow>
      <div class="number">_03.</div>

      <div class="project-meta">
        <div class="project-name" data-text="Rubriks3">Rubriks3</div>

        <div class="stack">
          <span>Angular</span><span class="dot"></span>
          <span>Azure</span>
        </div>
      </div>
      <span class="line"></span>
    </div>

  </div>
</section>
