.hero-container {
    padding-bottom: 40px;
}

.hero-text{
    color: white;
}

.hero-subtitle{
    margin-top: 40px;
    color: grey;
    font-size: 12px;
    p{
        margin-top: -10px;
        font-size: 26px;
    }

    .time {
        margin-top: -20px;
        font-size: 20px;
    }

    .role {
        color: white;
    }
}

